<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }
  .active {
    background: #dfd;
  }
</style>
</head>
<body>
  <h1>Scoring Admin - Events</h2>
  {% include "admin_nav.html" %}
  {% include "flash_message.html" %}

  <div>
    <h2>Add Event</h2>
    <form action="{{url_for('events_page')}}"  method='POST'>
      <p><label>Name:</label>*<input type="text" size=40 name="name" required /></p>
      <p><label>Location:</label>*<input type="text" size=40 name="location" value="{{config.DEFAULT_LOCATION}}" required /></p>
      <p><label>Date:</label>*<input type="date" size=40 name="event_date" value="{{g.default_date}}" required /></p>
      <p><label>Season:</label>*<input type="text" size=40 name="season_name" value="{{config.DEFAULT_SEASON}}" required /></p>
      <p><label>Organization:</label> <input type="text" size=40 name="organization" value="{{config.DEFAULT_ORGANIZATION}}"/></p>
      <p><label>Season Points:</label>
      <select name="season_points">
        <option value='0'>No</option>
        <option value='1' selected>Yes</option>
      </select></p>
      <p><label>Visible:</label>
      <select name="visible">
        <option value='0' selected>No</option>
        <option value='1'>Yes</option>
      </select></p>
      <p><label>Max Runs:</label>
      <select name="max_runs">
        {% for i in range(g.rules.min_runs,21)%}
        <option {{'selected' if g.rules.max_runs == i}}>{{i}}</option>
        {% endfor %}
      </select></p>
      <p><label>Drop Runs:</label>
      <select name="drop_runs">
        {% for i in range(0,20)%}
        <option {{'selected' if g.rules.drop_runs == i}}>{{i}}</option>
        {% endfor %}
      </select></p>
      <p><label>Note:</label> <input type="text" size=40 name="event_note" /></p>
      <br/>
      <p><label><b>* = required</b></label> <button type="submit" name="action" value="insert">Add Event</button> </p>
    </form>
  </div>
  <hr/>
  <h2>Event List</h2>
  <table class="simple">
    <tr>
      <th colspan=2>Event</th>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Season</th>
      <th>Organization</th>
      <th class="nowrap">Season Points</th>
      <th class="nowrap">Max Runs</th>
      <th class="nowrap">Drop Runs</th>
      <th>Visible</th>
    </tr>
    <tr class="break"></tr>
    {% for event in g.event_list %}
    {% if event.event_id == g.active_event_id %}
    <tr>
      <th colspan=12>Active Event</th>
    </tr>
    {% endif %}
    <tr class="{{'active' if event.event_id == g.active_event_id}}" id="{{event.event_id}}">
      <td><button onclick='$("#edit_{{event.event_id}}").toggle(); $("html, body").animate({scrollTop: $("#{{event.event_id}}").offset().top});'>Edit</button></td>
      <td>
        <form action="{{url_for('events_page')}}"  method='POST'>
          <input type="hidden" name="event_id" value="{{event.event_id}}" />
          {% if event.event_id != g.active_event_id %}
          <button type="submit" name="action" value="activate">Activate</button>
          {% else %}
          <button type="submit" name="action" value="deactivate"><b>Deactivate</b></button>
          {% endif %}
        </form>
      </td>
      <td class="nowrap">{{event.name}}</td>
      <td class="nowrap">{{event.location}}</td>
      <td class="nowrap">{{event.event_date}}</td>
      <td class="nowrap">{{event.season_name}}</td>
      <td class="nowrap">{{event.organization}}</td>
      <td>{{'Yes' if event.season_points else 'No'}}</td>
      <td>{{event.max_runs}}</td>
      <td>{{event.drop_runs}}</td>
      <td>{{'Yes' if event.visible else 'No'}}</td>
    </tr>
    <tr class="{{'active' if event.event_id == g.active_event_id}}">
      <td colspan=2 style="text-align: right">Note:</td>
      <td colspan=11 style="text-align: left; font-weight: bold">{{event.event_note}}</td>
    </tr>
    <tr id="edit_{{event.event_id}}" style="display: none">
      <td colspan=12 style="text-align: left; background: #ffd">
        <form action="{{url_for('events_page')}}"  method='POST'>
          <input type="hidden" name="event_id" value="{{event.event_id}}" />
          <p><label>Name:</label>*<input type="text" size=40 name="name" value="{{event.name}}" required /></p>
          <p><label>Location:</label>*<input type="text" size=40 name="location" value="{{event.location}}" required /></p>
          <p><label>Date:</label>*<input type="date" size=40 name="event_date" value="{{event.event_date}}" required /></p>
          <p><label>Season:</label>*<input type="text" size=40 name="season_name" value="{{event.season_name}}" required /></p>
          <p><label>Organization:</label> <input type="text" size=40 name="organization" value="{{event.organization}}"/></p>
          <p><label>Season Points:</label>
          <select name="season_points">
            <option value='0' {{'selected' if not event.season_points}}>No</option>
            <option value='1' {{'selected' if event.season_points}}>Yes</option>
          </select></p>
          <p><label>Visible:</label>
          <select name="visible">
            <option value='0' {{'selected' if not event.visible}}>No</option>
            <option value='1' {{'selected' if event.visible}}>Yes</option>
          </select></p>
          <p><label>Max Runs:</label>
          <select name="max_runs">
            {% for i in range(g.rules.min_runs,21)%}
            <option {{'selected' if event.max_runs == i}}>{{i}}</option>
            {% endfor %}
          </select></p>
          <p><label>Drop Runs:</label>
          <select name="drop_runs">
            {% for i in range(0,20)%}
            <option {{'selected' if event.drop_runs == i}}>{{i}}</option>
            {% endfor %}
          </select></p>
          <p><label>Note:</label> <input type="text" size=40 name="event_note" value="{{event.event_note if event.event_note}}" /></p>
          <hr/>
          <button type="submit" name="action" value="update">Save Changes</button>
          <!--
          <button type="submit" name="action" value="recalc">Recalculate Scores</button> - 
          <button type="submit" name="action" value="finalize">Finalize Runs</button> - 
          -->
          [{{event.event_id}}] 
          <!--
          <span style="float: right"> Confirm Delete:<input type="checkbox" name="confirm_delete" value="do_it"/> - <button type="submit" name="action" value="delete">Delete Event</button></span>-->
        </form>
      </td>
    </tr>
    <tr class="break"></tr>
    {% else %}
    <tr><td colspan=12>None</td></tr>
    {% endfor %}
  </table>
</body>
</html>

