<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 20em;
    display: inline-block;
  }
  button.session {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  button.red {
    border: 1px solid #fbb;
    background: #fbb;
  }
  button.green {
    border: 1px solid black;
    background: #bfb;
    font-weight: bold;
  }
</style>
<script>
$(document).ready(function(){
});
</script>
</head>
<body>
  <h1>Scoring Admin - Season Points</h2>
  {% include 'admin_nav.html' %}
  {% include 'flash_message.html' %}

  <div class="layout_box">
    <h2>TODO</h2>
  </div>
</body>
</html>

