<!DOCTYPE html>
<html lang="en">
<head>
  <title>ORG RallyX Live Scoring</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
  <h1>Scoring Admin - Help</h2>
  {% include 'admin_nav.html' %}
  {% include 'flash_message.html' %}

  <div class="layout_box">
    <p>Todo - Add instructions</p>
  </div>
</body>
</html>

