<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }

  td.red {
    background: #fbb;
  }

  td.green {
    background: #bfb;
  }
  
  tr:target {
    background: #ffb;
  }

  button.big {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: bold;
  }
</style>
</head>
<body>
  <a name="top"></a>
  <header>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
      <a class="menu_active" href="" title="Refresh">Registration</a>
      <a href="{{url_for('registration_new_driver_page')}}">Add Driver</a>
      <a href="{{url_for('registration_new_entry_page')}}">Add Entry</a>
    </div>
    {% include 'flash_message.html' %}
  </header>
  
  <div>
  <h2>Entry List ({{g.driver_entry_list|length}})</h2>
  <table class="simple">
    <tr>
      <th colspan=2></th>
      <th class="nowrap">Class</th>
      <th class="nowrap">Car #</th>
      <th class="nowrap">Driver</th>
      <th class="nowrap">Co-Driver</th>
      <th class="nowrap">Tracking #</th>
      <th class="nowrap">Checked In</th>
      <th class="nowrap">Work Assignment</th>
      <th class="nowrap">Run Group</th>
      <th class="nowrap">Note</th>
    </tr>
    <tr class="break"></tr>
    {% for entry in g.driver_entry_list %}
    <a name="{{entry.entry_id}}" />
    <tr id="{{entry.entry_id}}">
      <td><button onclick='$("#edit_{{entry.entry_id}}").toggle(); $("html, body").animate({scrollTop: $("#{{entry.entry_id}}").offset().top});'>Edit</button></td>
      <td>
        <form action="{{url_for('entries_page')}}" method="POST">
          <input type="hidden" name="entry_id" value="{{entry.entry_id}}">
          <button type="submit" value="check_in" name="action">Check-In</button>
        </form>
      </td>
      <td>{{entry.car_class}}</td>
      <td>{{entry.car_number}}</td>
      <td class="nowrap"><a href="{{url_for('drivers_page')}}#{{entry.driver_id}}">{{entry.first_name}} {{entry.last_name}}</a></td>
      <td class="nowrap">{{entry.co_driver}}</td>
      <td class="{{'green' if entry.tracking_number else 'red'}}">{{entry.tracking_number}}</td>
      <td class="{{'green' if entry.checked_in else 'red'}}">{{'Yes' if entry.checked_in else 'No'}}</td>
      <td>{{entry.work_assignment}}</td>
      <td>{{'Any' if entry.run_group == '-1' or entry.run_group is none else entry.run_group}}</td>
      <td colspan=6 style="text-align: left">{{entry.entry_note if entry.entry_note}}</td>
    <tr>
    </tr>
    <tr class="break"></tr>
    {% else %}
    <tr><td colspan=12>None</td></tr>
    {% endfor %}
  </table>
  </div>

  <div>
    <h2>Driver List (no entries)</h2>
  <table class="simple">
    <tr>
      <th class="nowrap">Driver</th>
      <th class="nowrap">First Name (alt)</th>
      <th class="nowrap">Last Name</th>
      <th class="nowrap">Tracking #</th>
      <th class="nowrap">Note</th>
    </tr>
    <tr class="break"></tr>
    {% for driver in g.driver_list if driver.driver_id not in g.entry_driver_id_list%}
    <a name="{{driver.driver_id}}" />
    <tr id="{{driver.driver_id}}">
      <td><button onclick='$("#edit_{{driver.driver_id}}").toggle(); $("html, body").animate({scrollTop: $("#{{driver.driver_id}}").offset().top});'>Edit</button></td>
      <td class="nowrap">{{driver.first_name if driver.first_name}}</td>
      <td class="nowrap">{{driver.last_name if driver.last_name}}</td>
      <td class="nowrap {{'green' if driver.tracking_number else 'red'}}">{{driver.tracking_number if driver.tracking_number}}</td>
      <td style="text-align: left">{{driver.driver_note if driver.driver_note}}</td>
    </tr>
    <tr class="break"></tr>
    {% else %}
    <tr><td colspan=11>None</td></tr>
    {% endfor %}
  </table>
  </div>
</body>
</html>

