<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }

  td.red {
    background: #fbb;
  }

  td.green {
    background: #bfb;
  }
  
  tr:target {
    background: #ffb;
  }
</style>
</head>
<body>
  <header>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
      <a href="{{url_for('timing_page')}}">Timing & Scoring</a>
      <a href="{{url_for('scores_page')}}">Scoreboard</a>
      <a class="menu_active" href="" title="Refresh">Penalties</a>
    </div>
    {% include 'flash_message.html' %}
  </header>

  <h3>These penalties add to the event total regardless of scored runs</h3>
  <hr/>
  <div>
    <h2>Add penalty</h2>
    <form action="{{url_for('penalties_page')}}" method='POST'>
      <input type="hidden" name="event_id" value="{{g.active_event_id}}" />
      <p><label>Entry:</label>*<select name="entry_id" required>
        <option disabled selected>-- Select Entry --</option>
        {% for entry in g.driver_entry_list %}
        <option value="{{entry.entry_id}}">{{entry.car_class}} {{entry.car_number}} {{entry.first_name}} {{'('+entry.alt_name+')' if entry.alt_name}} {{entry.last_name}}</option>
        <option disabled>&nbsp;&nbsp;{{entry.car_color}} {{entry.car_year}} {{entry.car_make}} {{entry.car_model}}</option> 
        {% else %}
        <option disabled>None</option>
        {% endfor %}
      </select></p>
      <p><label>Time:</label>*<input type="text" name="penalty_time" pattern="\s*((([0-9]+:)?[0-9]+:)?[0-9]+(\.[0-9]+)?)\s*" size="12" title="[[HH:]MM:]SS.sss" style="text-align:right"/> [[HH:]MM:]SS.sss</p>
      <p><label>Reason:</label> <input type="text" size=40 name="penalty_note" /> Warning: publicly visible!</p>
      <br/>
      <p><label><b>* = required</b></label> <button type="submit" name="action" value="insert">Add Penalty</button></p>
    </form>
  </div>
  <hr/>
  <h2>Penalty List</h2>
  <table class="simple">
    <tr>
      <th></th>
      <th class="nowrap">Entry</th>
      <th class="nowrap">Penalty Time</th>
      <th class="nowrap">Reason</th>
      <th></th>
    </tr>
    <tr class="break"></tr>
    {% for penalty in g.penalty_list %}
    <a name="{{penalty.penalty_id}}" />
    <tr id="{{penalty.penalty_id}}">
      <td>
        <form action="{{url_for('penalties_page')}}" method="POST">
        <input type="hidden" name="penalty_id" value="{{penalty.penalty_id}}">
        <button type="submit" value="delete" name="action">Delete</button>
        </form>
      </td>
      <form action="{{url_for('penalties_page')}}" method="POST">
      <input type="hidden" name="penalty_id" value="{{penalty.penalty_id}}">
      <td>
        <select name="entry_id" required>
          <option disabled selected>-- Select Entry --</option>
          {% for entry in g.driver_entry_list %}
          <option value="{{entry.entry_id}}" {{'selected' if entry.entry_id == penalty.entry_id}}>{{entry.car_class}} {{entry.car_number}} {{entry.first_name}} {{'('+entry.alt_name+')' if entry.alt_name}} {{entry.last_name}}</option>
          <option disabled>&nbsp;&nbsp;{{entry.car_color}} {{entry.car_year}} {{entry.car_make}} {{entry.car_model}}</option> 
          {% else %}
          <option disabled>None</option>
          {% endfor %}
        </select>
      </td>
      <td><input type="text" name="penalty_time" pattern="\s*((([0-9]+:)?[0-9]+:)?[0-9]+(\.[0-9]+)?)\s*" size="12" title="[[HH:]MM:]SS.sss" value="{{penalty.time_ms|format_time('0.000')}}" style="text-align:right"/></td>
      <td><input type="text" size=40 name="penalty_note" value="{{penalty.penalty_note if penalty.penalty_note}}"></td>
      <td><button type="submit" name="action" value="update">Save</button></td>
      </form>
    </tr>
    <tr class="break"></tr>
    {% else %}
    <tr><td colspan=5>None</td></tr>
    {% endfor %}
  </table>
</body>
</html>

