<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }

  td.red {
    background: #fbb;
  }

  td.green {
    background: #bfb;
  }
  
  tr:target {
    background: #ffb;
  }

  button.big {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: bold;
  }
</style>
</head>
<body>
  <h2>RFID Scan</h2>
  <form action="{{url_for('start_control_page')}}" method="POST">
    <input type="hidden" name="action" value="scan" />
    <input type="text" name="tracking_number" autofocus />
    <input type="submit" />
  </form>

  <h2>Next Entry</h2>
  <div class="layout_box" style="padding-left: 16px; padding-right:16px">
    <table class="layout">
      <tr>
        <td></td>
        <td><span style="color: red; font-size: 1.1em; font-weight: bold">&nbsp;{{g.next_entry_msg if g.next_entry_msg}}</span></td>
      </tr>
      <tr>
        <th>Entry:</th>
        <td><input type="text" size=45 disabled value="{{g.next_entry_driver.car_class}} {{g.next_entry_driver.car_number}} {{g.next_entry_driver.first_name}} {{g.next_entry_driver.last_name}}" style="font-weight: bold; text-align: center"></td>
      </tr>
      <tr>
        <th>Car:</th>
        <td><input type="text" size=45 disabled value="{{g.next_entry_driver.car_color}} {{g.next_entry_driver.car_year}} {{g.next_entry_driver.car_make}} {{g.next_entry_driver.car_model}}" style="text-align: center"></td>
      </tr>
      <tr>
        <th>Run:</th>
        <td><input type="text" size=7 disabled value="{{g.next_entry_run_number if g.next_entry_run_number}}" style="text-align: center"><span style="color: red; font-size: 1.4em; font-weight: bold">&nbsp;{{'!!! LAST RUN !!!' if g.next_entry_run_number == g.event['max_runs']}}{{'!!! EXTRA RUN !!!' if g.next_entry_run_number > g.event['max_runs']}} </span></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <form action="{{url_for('start_control_page')}}"  method="POST">
            <button type="submit" name="action" value="clear" style="width: 75%">Clear</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
  
  <h2>Run Group Entry List</h2>
  <form action="{{url_for('start_control_page')}}"  method="POST">
    <input type="hidden" name="action" value="set" />
    {% for entry in g.driver_entry_list %}
    {% if entry.run_group is none or entry.run_group == '-1' or entry.run_group == g.run_group %}
    <button style="width: 75%; text-align: left;" type="submit" name="entry_id" value="{{entry.entry_id}}"><b>{{entry.car_class}} {{entry.car_number}} {{entry.first_name}} {{entry.last_name}}</b><br>
      <i>{{entry.car_color}} {{entry.car_year}} {{entry.car_make}} {{entry.car_model}}</i></button><br><br>
    {% endif %}
    {% endfor %}
  </form>
  <br>
  <hr>
  <footer>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
    </div>
  </footer>

</body>
</html>

