<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }

  td.red {
    background: #fbb;
  }

  td.green {
    background: #bfb;
  }
  
  tr:target {
    background: #ffb;
  }

  button.big {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: bold;
  }
</style>
<script>
$(document).ready(function(){
  $("#next_entry_div").load("{{url_for('start_next_entry_page')}}");
  setInterval(function(){
    $("#next_entry_div").load("{{url_for('start_next_entry_page')}}");
  }, 3000);

  $("#search_box").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("button.filtered").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
    });
  });
  $("#clear_button").on("click", function() {
    $("#search_box").val("");
    $("button.filtered").filter(function() {
      $(this).show();
    });
  });
});
</script>
</head>
<body>
  <h2>RFID Scan</h2>
  <form action="{{url_for('start_control_page')}}" method="POST">
    <input type="hidden" name="action" value="scan" />
    <input type="text" name="tracking_number" autofocus />
    <input type="submit" />
  </form>

  <h2>Next Entry</h2>
  <form action="{{url_for('start_control_page')}}"  method="POST">
    <button type="submit" name="action" value="clear" style="width: 75%">Clear</button>
  </form>
  <div class="layout_box" style="padding-left: 16px; padding-right:16px" id="next_entry_div">
  </div>
  
  <h2>Run Group Entry List</h2>
  <input type="text" id="search_box" placeholder="Search entries.." style="width: 25%"><button id="clear_button">Clear</button><br><br>
  <form action="{{url_for('start_control_page')}}"  method="POST" id="entries_form">
    <input type="hidden" name="action" value="set" />
    {% for entry in g.entry_list %}
    {% if entry.run_group is none or entry.run_group == '-1' or entry.run_group == g.run_group %}
    <button class="filtered" style="width: 75%; text-align: left; margin-bottom: 16px" type="submit" name="entry_id" value="{{entry.entry_id}}"><b>{{entry.car_class}} {{entry.car_number}} {{entry.first_name}} {{entry.last_name}}</b> ({{entry.run_count}} runs)<br>
      <i>{{entry.car_color}} {{entry.car_year}} {{entry.car_make}} {{entry.car_model}}</i></button>
    {% endif %}
    {% endfor %}
  </form>
  <br>
  <hr>
  <footer>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
    </div>
  </footer>

</body>
</html>

