<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }
  tr:target {
    background: #ffb;
  }
  
  td.red {
    background: #fbb;
  }

  td.green {
    background: #bfb;
  }
  
  button.big {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: bold;
  }
</style>
</head>
<body>
  <header>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
      <a class="menu_active" href="" title="Refresh">Drivers</a>
      <a href="{{url_for('entries_page')}}">Entries</a>
      <a style="background: #bfb" href="{{url_for('drivers_new_driver_page')}}">Add Driver</a>
    </div>
    {% include 'flash_message.html' %}
  </header>

  <h2>Driver List ({{g.driver_list|length}})</h2>
  <i>Press Edit for more info.</i>
  <table class="simple">
    <tr>
      <th class="nowrap">Driver</th>
      <th class="nowrap">First Name</th>
      <th class="nowrap">Last Name</th>
      <th class="nowrap">Tracking #</th>
      <th class="nowrap">Note</th>
    </tr>
    <tr class="break"></tr>
    {% for driver in g.driver_list %}
    <a name="{{driver.driver_id}}" />
    <tr id="{{driver.driver_id}}">
      <td><button onclick='$("#edit_{{driver.driver_id}}").toggle(); $("html, body").animate({scrollTop: $("#{{driver.driver_id}}").offset().top});'>Edit</button></td>
      <td class="nowrap">{{driver.first_name if driver.first_name}}</td>
      <td class="nowrap">{{driver.last_name if driver.last_name}}</td>
      <td class="nowrap {{'green' if driver.tracking_number else 'red'}}">{{driver.tracking_number if driver.tracking_number}}</td>
      <td style="text-align: left">{{driver.driver_note if driver.driver_note}}</td>
    </tr>
    <tr id="edit_{{driver.driver_id}}" style="display: none">
      <td colspan=8 style="text-align: left; background: #ffd">
        <form action="{{url_for('drivers_page')}}"  method='POST'>
          <input type="hidden" name="driver_id" value="{{driver.driver_id}}" />
          <p><label>First Name: </label> <input type="text" size=40 name="first_name" value="{{driver.first_name if driver.first_name}}" required /> <b>Required</b></p>
          <p><label>Last Name: </label> <input type="text" size=40 name="last_name" value="{{driver.last_name if driver.last_name}}" required /> <b>Required</b></p>
          <p><label>Tracking #:</label> <input type="text" size=40 name="tracking_number" value="{{driver.tracking_number if driver.tracking_number}}" /> <b>&lt;- Don't forget this! (RFID #)</b></p>
          <p><label>MSReg #:</label> <input type="text" size=40 name="msreg_number" value="{{driver.msreg_number if driver.msreg_number}}" /></p>
          <p><label>SCCA #:</label> <input type="text" size=40 name="scca_number" value="{{driver.scca_number if driver.scca_number}}" /></p>
          <p><label>License #:</label> <input type="text" size=40 name="license_number" value="{{driver.license_number if driver.license_number}}" /></p>
          <p><label>Note:</label> <input type="text" size=40 name="driver_note" value="{{driver.driver_note if driver.driver_note}}" /></p>
          <hr/>
          <button type="submit" name="action" value="update">Save Changes</button> -
          [{{driver.driver_id}}]
          <span style="float: right"> Confirm Delete:<input type="checkbox" name="confirm_delete" /> - <button type="submit" name="action" value="delete">Delete Driver</button></span>
        </form>
      </td>
    </tr>
    <tr class="break"></tr>
    {% else %}
    <tr><td colspan=11>None</td></tr>
    {% endfor %}
  </table>
</body>
</html>

