<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }

  td.red {
    background: #fbb;
  }

  td.green {
    background: #bfb;
  }
  
  tr:target {
    background: #ffb;
  }
</style>
</head>
<body>
  <header>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
      <a class="menu_active" href="" title="Refresh">Export Scores</a>
    </div>
    {% include 'flash_message.html' %}
  </header>

  <h3>Export types:</h3>

  <ul>
    <li><a href="{{url_for('export_scores_csv_page')}}">Scores in CSV format</a></li>
  </ul>
  
</body>
</html>

