<div id="nav">
  <a href="{{url_for('index_page')}}">Home</a> - 
  <a href="{{url_for('drivers_page')}}">Drivers</a> - 
  <a href="{{url_for('events_page')}}">Events</a> - 
  <a href="{{url_for('sessions_page')}}">Sessions</a> - 
  <a href="{{url_for('entries_page')}}">Entries</a> - 
  <a href="{{url_for('timing_page')}}"><b>Timing & Scoring</b></a> - 
  <a href="{{url_for('penalties_page')}}">Penalties</a> -
  <a href="{{url_for('scores_page')}}">Scoreboard</a> - 
  <a href="{{url_for('season_page')}}">Season</a> - 
  <a href="{{url_for('settings_page')}}">Settings</a> - 
  <a href="{{url_for('debug_registry_page')}}">[R]</a>
</div>
