<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  button.red {
    background: red;
    font-weight: bold;
    font-size: 2em;
    padding: 4px;
    margin: 4px;
    color: yellow;
    width: 150px;
  }
  button.green {
    background: green;
    font-weight: bold;
    font-size: 2em;
    padding: 4px;
    margin: 4px;
    color: white;
    width: 150px;
  }
  .run {
    border: 1px dashed gray;
    padding: 4px;
    margin: 4px;
  }
  .started {
    background: #dfd;
  }
  .finished {
    background: #fdd;
  }
  .scored {
    background: #ddf;
  }
  .tossout {
    background: #ffd;
  }
  .filter_red {
    background: #fdd;
  }
  select {
    font-family: Monospace;
  }
  p {
    margin: 2px;
  }
  div.status label {
    width: 10em;
    display: inline-block;
  }
  .reset_button {
    visibility: hidden;
    padding: 4px;
    width: 100%;
  }
  .save_button {
    font-weight: bold;
    padding: 4px;
    width: 100%;
  }

  .scored_save_button, .finished_save_button, .tossout_save_button {
    width: 100%;
  }

  .run_print {
    width: 100%;
  }
  .run_save_print {
    padding: 4px;
    width: 100%;
  }
  button.normal {
    font-size: 1em;
  }
  input {
    text-align: right;
  }
  .entry_select {
    width: 100%;
  }
  .run table td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
  }
  input:disabled {
    color: black;
  }
  div:target {
    border: 2px solid red;
  }

  label.start_flag {
    color: #0a0;
    font-weight: bold;
  }

  label.finish_flag {
    color: #f00;
    font-weight: bold;
  }

  select.red_text {
    color: #f00;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #333;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #333;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #333;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    #333;
  }

  :checked+span.red_checked {
    background-color: red;
    color: white;
  }

  span.red_checked {
    padding: 3px;
    user-select: none;
  }

  .autorefresh {
    border: 1px solid;
    padding: 4px;
    position: fixed;
    right: 8px;
    top: 8px;
    width: 10.25em;
    font-weight: bold;
  }

  .autorefresh_on {
    color: #040;
    border-color: #080;
    background-color: #8f8;
  }

  .autorefresh_off {
    color: #f88;
    border-color: #f88;
    background-color: white;
  }

</style>
<script>
var reload_timeout_id;

function inc_val(i, v) {
  var num = parseInt(v);
  if( isNaN(num) )
  {
    return 1;
  }
  else
  {
    return num+1;
  }
}

function dec_val(i, v) {
  var num = parseInt(v);
  if( isNaN(num) || num <= 0)
  {
    return 0;
  }
  else
  {
    return num-1;
  }
}

$(document).ready(function(){
  reload_timeout_id = setTimeout(function(){location.reload(true)}, 3000);

  $('.autorefresh_disabled').hover(function(){
    clearTimeout(reload_timeout_id);
    $('.autorefresh').removeClass("autorefresh_on").addClass("autorefresh_off");
    $('.autorefresh').text("AUTO REFRESH: OFF");
  }, function(){ 
    reload_timeout_id = setTimeout(function(){location.reload(true)}, 3000);
    $('.autorefresh').removeClass("autorefresh_off").addClass("autorefresh_on");
    $('.autorefresh').text("AUTO REFRESH: ON");
  });

  /* Hide reset buttons by default */
  $( "form" ).focusin(function() {
    $(this).find(".reset_button").css("visibility","visible");
  });
  $(".reset_button").click(function() {
    $(this).css("visibility","hidden");
  });

  /* Forward all enter keypress to save button */
  $('form').keypress(function(e){
    if ( e.which == 13 ){
      $(this).find('save_button').click()
      return false;
    }
  });

  $('.pos_cones_button').click(function() {
    $(this).closest('form').find('.cones_input').val( inc_val );
  });
  $('.pos_gates_button').click(function() {
    $(this).closest('form').find('.gates_input').val( inc_val );
  });
  $('.neg_cones_button').click(function() {
    $(this).closest('form').find('.cones_input').val( dec_val );
  });
  $('.neg_gates_button').click(function() {
    $(this).closest('form').find('.gates_input').val( dec_val );
  });


  /* Set run state prior to submit */
  $('.scored_save_button').click(function(){
    $(this).closest('form').find('.run_state').val('scored');
  });
  $('.finished_save_button').click(function(){
    $(this).closest('form').find('.run_state').val('finished');
  });
  $('.tossout_save_button').click(function(){
    $(this).closest('form').find('.run_state').val('tossout');
  });

  /* Prevent both DNS and DNF being checked */
  $('.dns_checkbox').click(function(){
    $(this).closest('form').find('.dnf_checkbox').prop('checked',false);
  });
  $('.dnf_checkbox').click(function(){
    $(this).closest('form').find('.dns_checkbox').prop('checked',false);
  });
});
</script>
</head>
<body>
  <header>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
      <a class="menu_active" href="" title="Refresh">Timing & Scoring</a>
      <a href="{{url_for('scores_page')}}">Scoreboard</a>
      <a href="{{url_for('penalties_page')}}">Penalties</a>
    </div>
    <div class="autorefresh autorefresh_on">AUTO REFRESH: ON</div>
    {% include 'flash_message.html' %}
  </header>

  <div class="autorefresh_disabled">

  <div class="layout_box" style="padding-left: 16px; padding-right:16px">
    <table class="layout">
      <tr style="font-size: 1.2em">
        <th>Start</th>
        <th>Stop</th>
        <th>Next</th>
        <th>Max Runs</th>
        <th>Started</th>
        <th>Finished</th>
      </tr>
      <tr>

        <td>
        <form action="{{url_for('timing_page')}}"  method="POST" >
          <button class="{{ 'red' if g.disable_start else 'green' }}" type="submit" name="action" value="toggle_start">{{ 'Disabled' if g.disable_start else 'Enabled'}}</button>
        </form>
        </td>
        <td style="padding-right: 16px; padding-left: 16px;">
          <form action="{{url_for('timing_page')}}"  method="POST" >
            <button class="{{ 'red' if g.disable_finish else 'green' }}" type="submit" name="action" value="toggle_finish">{{ 'Disabled' if g.disable_finish else 'Enabled'}}</button>
          </form>
        </td>
        <td style="border-left: 1px solid gray; padding-left: 32px; padding-right: 32px;">
          <form action="{{url_for('timing_page')}}"  method="POST">
            <select name="next">
              <option disabled selected>-- Select Entry --</option>
              {% for entry in g.driver_entry_list %}
              {% if entry.run_group is none or entry.run_group == '-1' or entry.run_group == g.run_group %}
              <option value="{{entry.entry_id}}">{{entry.car_class}} {{entry.car_number}} {{entry.first_name}} {{'('+entry.alt_name+')' if entry.alt_name}} {{entry.last_name}}</option>
              <option disabled>&nbsp;&nbsp;{{entry.car_color}} {{entry.car_year}} {{entry.car_make}} {{entry.car_model}}</option> 
              {% endif %}
              {% else %}
              <option disabled>None</option>
              {% endfor %}
            </select><br>
            <button type="submit" name="action" value="set_next" style="width: 45%">Set</button>
            <button type="submit" name="action" value="clear_next" style="width: 45%">Clear</button>
          </form>
        </td>
        <td style="border-left: 1px solid gray; padding-left: 32px; padding-right: 32px;">
          <form action="{{url_for('timing_page')}}"  method="POST">
            <select name="max_runs">
              {% for i in range(g.rules.min_runs, 21) %}
              <option {{'selected' if i == g.rules.max_runs}}>{{i}}</option>
              {% endfor %}
            </select><br>
            <button type="submit" name="action" value="set_max_runs" style="width: 90%">Set</button>
          </form>
        </td>
        <td style="border-left: 1px solid gray; padding-left: 32px; padding-right: 32px;">
          <input type="text" size=5 disabled value="{{g.cars_started}}" style="text-align: center"><br>
          <form action="{{url_for('timing_page')}}"  method="POST">
            <input type="hidden" name="event_id" value="{{g.event['event_id']}}" />
            <input type="hidden" name="state" value="finished" />
            <button type="submit" name="action" value="insert">Add Run</button>
          </form>
        </td>
        <td style="border-left: 1px solid gray; padding-left: 32px; padding-right: 32px;">
          <input type="text" size=5 disabled value="{{g.cars_finished}}" style="text-align: center">
        </td>
      </tr>
    </table>
  </div>

  <div class="layout_box" style="padding-left: 16px; padding-right:16px">
    <table class="layout">
      <tr style="font-size: 1.2em">
        <th>Entry</th>
        <th>Car</th>
        <th style="padding-right: 32px">Run</th>
        <th class="nowrap">Run Group</th>
      </tr>
      <tr>
        <td class="nowrap">
          <input type="text" size=45 disabled value="{{g.next_entry_driver.car_class}} {{g.next_entry_driver.car_number}} {{g.next_entry_driver.first_name}} {{'('+g.next_entry_driver.alt_name+')' if g.next_entry_driver.alt_name}} {{g.next_entry_driver.last_name}}" style="text-align: center">
          <br><span style="color: red; font-size: 1.1em; font-weight: bold">&nbsp;{{g.next_entry_msg if g.next_entry_msg}}</span>
        </td>
        <td class="nowrap">
          <input type="text" size=45 disabled value="{{g.next_entry_driver.car_color}} {{g.next_entry_driver.car_year}} {{g.next_entry_driver.car_make}} {{g.next_entry_driver.car_model}}" style="text-align: center">
        </td>
        <td class="nowrap" style="padding-right: 32px">
          <input type="text" size=7 disabled value="{{g.next_entry_run_number if g.next_entry_run_number}}" style="text-align: center">
          <br><span style="color: red; font-size: 1.1em; font-weight: bold">&nbsp;{{'LAST RUN!' if g.next_entry_run_number == g.event['max_runs']}}{{'EXTRA RUN!' if g.next_entry_run_number > g.event['max_runs']}} </span>
        </td>
        <td style="border-left: 1px solid gray; padding-left: 64px; padding-right: 64px;">
          <input type="text" size=5 disabled value="{{g.run_group}}" style="text-align: center">
        </td>
      </tr>
    </table>
  </div>

  <div id="filter" class="layout_box {{'filter_red' if session.entry_filter not in ('all',None)}}">
    <form action="{{url_for('timing_page')}}"  method="POST">
    Filter:
    <select name="entry_filter">
      <option value="all" {{'selected' if session.entry_filter=='all'}}>All</option>
      <option value="noassign" {{'selected' if session.entry_filter=='noassign'}}>No Entry Assigned</option>
      <optgroup label="Entries">
      {% for entry in g.driver_entry_list %}
      <option value="{{entry.entry_id}}" {{'selected' if session.entry_filter==entry.entry_id}} >{{entry.car_class}} {{entry.car_number}} {{entry.first_name}} {{'('+entry.alt_name+')' if entry.alt_name}} {{entry.last_name}}</option>
      <option disabled>&nbsp;&nbsp;{{entry.car_color}} {{entry.car_year}} {{entry.car_make}} {{entry.car_model}}</option> 
      {% else %}
      <option disabled>None</option>
      {% endfor %}
      </optgroup>
    </select>&nbsp;
    Limit:
    <select name="run_limit">
      {% for i in range(5,101,5) %}
      <option {{'selected' if session.run_limit == i}}>{{i}}</option>
      {% endfor %}
    </select>&nbsp;&nbsp;
    <label><input type="checkbox" name="started_filter" {{'checked' if session.started_filter}} />Started</label>
    <label><input type="checkbox" name="finished_filter" {{'checked' if session.finished_filter}} />Finished</label>
    <label><input type="checkbox" name="scored_filter" {{'checked' if session.scored_filter}} />Scored</label>
    <label><input type="checkbox" name="tossout_filter" {{'checked' if session.tossout_filter}} />TossOut</label>&nbsp;&nbsp;
    <button type="submit" name="action" value="set_filter">Set Filter</button>
    <button type="submit" name="action" value="reset_filter">Clear Filter</button>
    </form>
  </div>


  <div id="runs" class="layout_box">
    {% for run in g.run_list %}
    <a name="{{run.run_id}}" />
      <div class="run {{run.state}}" id="{{run.run_id}}">
      <form class="run_form" action="{{url_for('timing_page')}}"  method="POST">
        <input type="hidden" name="run_id" value="{{run.run_id}}" />
        <input type="hidden" name="old_state" value="{{run.state}}" />
        <input type="hidden" name="old_entry_id" value="{{run.entry_id}}" />
        <table class="layout">
          <tr>
          <!-- START FIRST ROW -->
            <td rowspan=3 style="padding: 16px; text-align: center; font-size: 3em;">
              {% if run.state == 'started' %}
              S
              {% elif run.state == 'finished' %}
              F
              {% elif run.state == 'scored' %}
              &checkmark;
              {% else %}
              &cross;
              {% endif %}
            </td>

            <th>Start</th>
            <th>Split 1</th>
            <th>Split 2</th>
            <th>Finish</th>
            <th>Run</th>
            <th>Raw</th>
            <th>Cones</th>
            <th>Gates</th>
            <th>Total</th>
            <th>State</th>
            <th></th>
            <th style="padding-left: 16px">Change & Save</th>

          <!-- END FIRST ROW -->
          </tr><tr>
          <!-- START SECOND ROW -->
            <td class="nowrap">
              <input type="text" class="start_time" name="start_time" pattern="\s*((\s)|((([0-9]+:)?[0-9]+:)?[0-9]+(\.[0-9]*)?))\s*" value="{{run.start_time_ms|format_time}}" size="12" title="[[HH:]MM:]SS.sss" />
            </td>
            <td class="nowrap" style="text-align: left">
              <input type="text" class="split_time" name="split_1_time" pattern="\s*((\s)|((([0-9]+:)?[0-9]+:)?[0-9]+(\.[0-9]*)?))\s*" value="{{run.split_1_time_ms|format_time}}" size="12" title="[[HH:]MM:]SS.sss" />
            </td>
            <td class="nowrap" style="text-align: left">
              <input type="text" class="split_time" name="split_2_time" pattern="\s*((\s)|((([0-9]+:)?[0-9]+:)?[0-9]+(\.[0-9]*)?))\s*" value="{{run.split_2_time_ms|format_time}}" size="12" title="[[HH:]MM:]SS.sss" />
            </td>
            <td class="nowrap">
              <input type="text" class="finish_time" name="finish_time" pattern="\s*((\s)|((([0-9]+:)?[0-9]+:)?[0-9]+(\.[0-9]*)?))\s*" value="{{run.finish_time_ms|format_time if run.state != 'started'}}" size="12" title="[[HH:]MM:]SS.sss" {{'disabled' if run.state == 'started'}} />
            </td>
            <td><input type="text" size="4" value="{{run.run_number if run.run_number}}" disabled /></td>
            <td><input type="text" class="raw_time" size="14" value="{{run.raw_time if run.raw_time}}" disabled /></td>
            <td><input type="number" class="cones_input" min="0" max="100" name="cones" value="{{run.cones if run.cones}}" /></td>
            <td><input type="number" class="gates_input" min="0" max="100" name="gates" value="{{run.gates if run.gates}}" /></td>
            {% if run.recalc %}
            <td><input type="text" class="total_time" size="14" value="RECALC" disabled /></td>
            {% else %}
            <td><input type="text" class="total_time" size="14" value="{{run.total_time if run.total_time}}" disabled /></td>
            {% endif %}
            <td>
              <select class="run_state" name="state">
                <option value="started" {{'selected' if run.state == 'started'}}>Started</option>
                <option value="finished" {{'selected' if run.state == 'finished'}}>Finished</option>
                <option value="scored" {{'selected' if run.state == 'scored'}} {{'disabled' if run.state =='started'}}>Scored</option>
                <option value="tossout" {{'selected' if run.state == 'tossout'}}>Toss Out</option>
              </select>
            </td>
            <td style="border-right: 1px solid black; padding-right: 16px"></td>
            <td style="border-left: 1px solid black; padding-left: 16px">
              <button type="submit" class="scored_save_button" name="action" value="update" {{'disabled' if run.state == 'started'}}>Scored</button>
            </td>
            
            
            <!--<td><button type="submit" class="run_save_print" name="action" value="update_print">Save & Print</button></td>-->
            
          <!-- END SECOND ROW -->
          </tr><tr>
          <!-- START THIRD ROW -->

            <td colspan="4">
              <select name="entry_id" class="entry_select">
                <option disabled selected>-- Select Entry --</option>
                <option disabled></option>
                <option value="">-- None --</option>
                <option disabled></option>
                {% for entry in g.driver_entry_list %}
                <option value="{{entry.entry_id}}" {{'selected' if run.entry_id==entry.entry_id}}>{{entry.car_class}} {{entry.car_number}} {{entry.first_name}} {{'('+entry.alt_name+')' if entry.alt_name}} {{entry.last_name}}</option>
                <option disabled>&nbsp;&nbsp;{{entry.car_color}} {{entry.car_year}} {{entry.car_make}} {{entry.car_model}}</option> 
                {% endfor %}
              </select>
            </td>
            <td><label style="font-size: 1.2em"><input type="checkbox" class="dns_checkbox" name="dns_dnf" value=1 {{'checked' if run.dns_dnf == 1}}><span class="red_checked">DNS</span></label></td>
            <td><!--<button style="width: 80%" class="false_start_button">False Start</button>--></td>
            <td><button type="button" style="width: 80%; font-weight: bold" class="pos_cones_button">+</button></td>
            <td><button type="button" style="width: 80%; font-weight: bold" class="pos_gates_button">+</button></td>
            <td></td>
            <td><button type="reset" class="reset_button" tabindex=1>Reset</button></td>
            <td style="border-right: 1px solid black; padding-right: 16px"></td>
            <td style="border-left: 1px solid black; padding-left: 16px">
              <button type="submit" class="finished_save_button" name="action" value="update">Finished</button>
            </td>
          <!-- END THIRD ROW -->
          </tr>
          <tr>
          <!-- START FOURTH ROW -->
            <td>[{{run.run_id}}]</td>
            <td style="text-align: left;" colspan=4><input type="text" class="left" name="run_note" style="width:98%" value="{{run.run_note if run.run_note}}" placeholder="{{g.car_dict[run.entry_id]}}" /></td>

            <td><label style="font-size: 1.2em"><input type="checkbox" class="dnf_checkbox" name="dns_dnf" value=2 {{'checked' if run.dns_dnf > 1}}><span class="red_checked">DNF</span></label></td>
            <td><!--<button style="width: 80%" class="false_start_button">False Finish</button>--></td>
            <td><button type="button" style="width: 80%; font-weight: bold" class="neg_cones_button">-</button></td>
            <td><button type="button" style="width: 80%; font-weight: bold" class="neg_gates_button">-</button></td>
            <td></td>
            <td>
              <button type="submit" class="save_button" name="action" value="update">Save</button>
            </td>
            <td style="border-right: 1px solid black; padding-right: 16px"></td>
            <td style="border-left: 1px solid black; padding-left: 16px">
              <button type="submit" class="tossout_save_button" name="action" value="update">Toss Out</button>
            </td>
          <!-- END FOURTH ROW -->
          </tr>
        </table>
      </form>
    </div>
    {% endfor %}
    <div><i>Change filter to view runs not listed.</i></div>
  </div>

  </div><!-- noreload -->
</body>
</html>

