<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }
  .active {
    background: #ddf;
  }
</style>
</head>
<body>
  <header>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
      <a class="menu_active" href="" title="Refresh">Events</a>
      <a href="{{url_for('entries_page')}}">Entries</a>
    </div>
    {% include 'flash_message.html' %}
  </header>

  <div>
    <h2>Add Event</h2>
    <form action="{{url_for('events_page')}}"  method='POST'>
      <p><label>Name:</label>*<input type="text" size=40 name="name" required /></p>
      <p><label>Location:</label>*<input type="text" size=40 name="location" required /></p>
      <p><label>Date:</label>*<input type="date" size=40 name="event_date" value="{{g.default_date}}" required /></p>
      <p><label>Season:</label>*<input type="text" size=40 name="season_name" value="{{g.default_season}}" required /></p>
      <p><label>Organization:</label> <input type="text" size=40 name="organization"/></p>
      <p><label>Rule Set:</label>*<select name="rule_set" required >
        {% for rule_set_id in g.rule_sets %}
        <option value="{{rule_set_id}}" {{'selected' if rule_set_id == g.default_rule_set}}>{{g.rule_sets[rule_set_id].name}}</option>
        {% endfor %}
      </select></p>
      <p><label>Max Runs:</label>
      <select name="max_runs">
        {% for i in range(1,21)%}
        <option>{{i}}</option>
        {% endfor %}
      </select></p>
      <p><label>Note:</label> <input type="text" size=40 name="event_note" /></p>
      <br/>
      <p><label><b>* = required</b></label> <button type="submit" name="action" value="insert">Add Event</button> </p>
    </form>
  </div>
  <hr/>
  <h2>Event List</h2>
  {% if not g.event %}<h2 style="color: red">No active event!</h2>{% endif %}
  <table class="simple">
    <tr>
      <th colspan=2>Event</th>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Season</th>
      <th>Organization</th>
      <th class="nowrap">Rule Set</th>
      <th class="nowrap">Max Runs</th>
      <th>State</th>
    </tr>
    <tr class="break"></tr>
    {% for event in g.event_list %}
    <tr class="{{'active' if event.event_id == g.event['event_id']}}" id="{{event.event_id}}">
      <td><button onclick='$("#edit_{{event.event_id}}").toggle(); $("html, body").animate({scrollTop: $("#{{event.event_id}}").offset().top});'>Edit</button></td>
      <td>
        <form action="{{url_for('events_page')}}"  method='POST'>
          <input type="hidden" name="event_id" value="{{event.event_id}}" />
          {% if event.event_id != g.event['event_id'] %}
          <button type="submit" name="action" value="activate">Activate</button>
          {% else %}
          <button type="submit" name="action" value="deactivate"><b>Deactivate</b></button>
          {% endif %}
        </form>
      </td>
      <td class="nowrap">{{event.name}}</td>
      <td class="nowrap">{{event.location}}</td>
      <td class="nowrap">{{event.event_date}}</td>
      <td class="nowrap">{{event.season_name}}</td>
      <td class="nowrap">{{event.organization}}</td>
      <td>{{event.rule_set}}</td>
      <td>{{event.max_runs}}</td>
      <td style="color:red"><b>{{'ACTIVE' if event.event_id == g.event['event_id'] }}</b></td>
    </tr>
    <tr class="{{'active' if event.event_id == g.event['event_id']}}">
      <td colspan=2 style="text-align: right">Note:</td>
      <td colspan=11 style="text-align: left; font-weight: bold">{{event.event_note}}</td>
    </tr>
    <tr id="edit_{{event.event_id}}" style="display: none">
      <td colspan=12 style="text-align: left; background: #ffd">
        <form action="{{url_for('events_page')}}"  method='POST'>
          <input type="hidden" name="event_id" value="{{event.event_id}}" />
          <p><label>Name:</label>*<input type="text" size=40 name="name" value="{{event.name}}" required /></p>
          <p><label>Location:</label>*<input type="text" size=40 name="location" value="{{event.location}}" required /></p>
          <p><label>Date:</label>*<input type="date" size=40 name="event_date" value="{{event.event_date}}" required /></p>
          <p><label>Season:</label>*<input type="text" size=40 name="season_name" value="{{event.season_name}}" required /></p>
          <p><label>Organization:</label> <input type="text" size=40 name="organization" value="{{event.organization}}"/></p>
          <p><label>Rule Set:</label>*<select name="rule_set" required >
            {% for rule_set_id in g.rule_sets %}
            <option value="{{rule_set_id}}" {{'selected' if event.rule_set == rule_set_id}}>{{g.rule_sets[rule_set_id].name}}</option>
            {% endfor %}
          </select></p>
          <p><label>Max Runs:</label>
          <select name="max_runs">
            {% for i in range(1,21)%}
            <option {{'selected' if event.max_runs == i}}>{{i}}</option>
            {% endfor %}
          </select></p>
          <p><label>Note:</label> <input type="text" size=40 name="event_note" value="{{event.event_note if event.event_note}}" /></p>
          <hr/>
          <button type="submit" name="action" value="update">Save Changes</button>
          <!--
          <button type="submit" name="action" value="recalc">Recalculate Scores</button> - 
          <button type="submit" name="action" value="finalize">Finalize Runs</button> - 
          -->
          [{{event.event_id}}] 
          <span style="float: right"> Confirm Delete:<input type="checkbox" name="confirm_delete"/> - <button type="submit" name="action" value="delete">Delete Event</button></span>
        </form>
      </td>
    </tr>
    <tr class="break"></tr>
    {% else %}
    <tr><td colspan=12>None</td></tr>
    {% endfor %}
  </table>
</body>
</html>

