<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scoring Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<style>
  label {
    width: 10em;
    display: inline-block;
  }
  p {
    margin: 2px;
  }

  td.red {
    background: #fbb;
  }

  td.green {
    background: #bfb;
  }
  
  tr:target {
    background: #ffb;
  }

  button.big {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    font-weight: bold;
  }
</style>
</head>
<body>
  <header>
    <div class="menu">
      <a class="menu_small" href="{{url_for('menu_page')}}" title="Main Menu">&#9776; Menu</a>
      <a href="{{url_for('drivers_page')}}">Drivers</a>
      <a class="menu_active" href="" title="Refresh">Entries</a>
      <a style="background: #bfb" href="{{url_for('entries_new_entry_page')}}">Add Entry</a>
    </div>
    {% include 'flash_message.html' %}
  </header>
  
  <h2>Entry List ({{g.driver_entry_list|length}})</h2>
  <table class="simple">
    <tr>
      <th colspan=2></th>
      <th class="nowrap">Class</th>
      <th class="nowrap">Car #</th>
      <th class="nowrap">Driver</th>
      <th class="nowrap">Co-Driver</th>
      <th class="nowrap">Tracking #</th>
      <th class="nowrap">Checked In</th>
      <th class="nowrap">Work Assignment</th>
      <th class="nowrap">Run Group</th>
      <th class="nowrap">Note</th>
    </tr>
    <tr class="break"></tr>
    {% for entry in g.driver_entry_list %}
    <a name="{{entry.entry_id}}" />
    <tr id="{{entry.entry_id}}">
      <td><button onclick='$("#edit_{{entry.entry_id}}").toggle(); $("html, body").animate({scrollTop: $("#{{entry.entry_id}}").offset().top});'>Edit</button></td>
      <td>
        <form action="{{url_for('entries_page')}}" method="POST">
          <input type="hidden" name="entry_id" value="{{entry.entry_id}}">
          {% if entry.checked_in %}
          <button type="submit" value="check_out" name="action">Check Out</button>
          {% else %}
          <button type="submit" value="check_in" name="action">Check In</button>
          {% endif %}
        </form>
      </td>
      <td>{{entry.car_class}}</td>
      <td>{{entry.car_number}}</td>
      <td class="nowrap"><a href="{{url_for('drivers_page')}}#{{entry.driver_id}}">{{entry.first_name}} {{entry.last_name}}</a></td>
      <td class="nowrap">{{entry.co_driver}}</td>
      <td class="{{'green' if entry.tracking_number else 'red'}}">{{entry.tracking_number}}</td>
      <td class="{{'green' if entry.checked_in else 'red'}}">{{'Yes' if entry.checked_in else 'No'}}</td>
      <td>{{entry.work_assignment}}</td>
      <td>{{'Any' if entry.run_group == '-1' or entry.run_group is none else entry.run_group}}</td>
      <td colspan=6 style="text-align: left">{{entry.entry_note if entry.entry_note}}</td>
    <tr>
    </tr>
    <tr id="edit_{{entry.entry_id}}" style="display: none">
      <td colspan=11 style="text-align: left; background: #ffd">
        <form action="{{url_for('entries_page')}}" method='POST'>
          <input type="hidden" name="entry_id" value="{{entry.entry_id}}" />
          <p><label>Driver:</label> <select name="driver_id" required>
            {% for driver in g.driver_list %}
            <option value="{{driver.driver_id}}" {{'selected' if entry.driver_id == driver.driver_id}}>{{driver.first_name}} {{driver.last_name}} [{{driver.driver_id}}]</option>
            {% else %}
              <option disabled>None</option>
            {% endfor %}
          </select> <b>Required</b></p>
          <p><label>Car Number:</label> <input type="number" min="0" max="1000" size=40 name="car_number" value="{{entry.car_number if entry.car_number}}" required /> <b>Required</b></p>
          <p><label>Car Class:</label> <select name="car_class" required >
            {% for car_class in g.rules.car_class_list %}
            <option value="{{car_class}}" {{'selected' if entry.car_class == car_class}}>{{car_class}}: {{g.rules.car_class_names[car_class]}}</option>
            {% else %}
            <option value="TO">TO: Time Only</option>
            {% endfor %}
          </select> <b>Required</b></p>

          <p><label>Car Color:</label> <input type="text" size=40 name="car_color" value="{{entry.car_color if entry.car_color}}" /></p>
          <p><label>Car Year:</label> <input type="text" size=40 name="car_year" value="{{entry.car_year if entry.car_year}}" /></p>
          <p><label>Car Make:</label> <input type="text" size=40 name="car_make" value="{{entry.car_make if entry.car_make}}" /></p>
          <p><label>Car Model:</label> <input type="text" size=40 name="car_model" value="{{entry.car_model if entry.car_model}}" /></p>

          <p><label>Co-Driver:</label> <input type="text" size=40 name="co_driver" value="{{entry.co_driver if entry.co_driver}}" /></p>
          <p><label>Note:</label> <input type="text" size=40 name="entry_note" value="{{entry.entry_note if entry.entry_note}}"/></p>
          <p><label>Show Scores:</label> <select name="scores_visible">
            <option value="0" {{'selected' if not entry.scores_visible}}>No</option>
            <option value="1" {{'selected' if entry.scores_visible}}>Yes</option>
          </select></p>
          <!--<p><label>Season Points:</label> <select name="season_points">
            <option value="0" {{'selected' if not entry.season_points}}>No</option>
            <option value="1" {{'selected' if entry.season_points}}>Yes</option>
          </select></p>-->
          <p><label>Work Assignment:</label> <input type="text" size=40 name="work_assignment" value="{{entry.work_assignment if entry.work_assignment}}"/></p>
          <p><label>Checked In:</label> <select name="checked_in">
            <option value="0" {{'selected' if not entry.checked_in}}>No</option>
            <option value="1" {{'selected' if entry.checked_in}}>Yes</option>
          </select></p>
          <hr/>
          <button type="submit" name="action" value="update">Save Changes</button> - 
          [{{entry.entry_id}}]

          <span style="float: right"> Confirm Delete:<input type="checkbox" name="confirm_delete"/> - <button type="submit" name="action" value="delete">Delete Entry</button></span>
        </form>
      </td>
    </tr>
    <tr class="break"></tr>
    {% endfor %}
  </table>
</body>
</html>

